@page "/"

<div class="container flex-column">
    <img src="images/student.png" width="240" alt="student"/>
    <div class="flex-column-m">
        <p class="fsb64 cr3">Welcome</p>
        <p class="fsb32 cr3">my brilliant student</p>
    </div>
</div>


