<div class="status-bar flex-row-w pd12">
    <p class="flex-row-m">9.41</p>
    <div class="content flex-row">
        <img src="icons/connection.svg" />
        <img src="icons/wifi.svg" />
        <img src="icons/battery.svg" />
    </div>
</div>
